main {
    .container {
        .formRegister {
            padding: 30px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            .formRes{
                width: 500px;
                box-shadow: 0 25px 45px #0102021f;
                .form_title{
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    i{
                        padding: 12px 0;
                        font-size: 3rem;
                    }
                }

            }
        }
    }
}